# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs & caches
*.log
.cache/
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Large model/data files (hosted externally)
similarity.pkl
